<header class="intro-header" style="background-image: url('/img/SKILLS.png')"  >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Posts</h1>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container" id="bgcolor4">

<div class="row">
  <div class="col-xs-6 col-xs-offset-3" id="post-box">
    <form action="/posts" method="post" >
      <textarea name="title" class="form-control" placeholder="Title here" rows="1"></textarea>
      <textarea name="money" class="form-control" placeholder="Money amount(Integer only)" rows="1"></textarea>
      <textarea name="post" class="form-control" placeholder="Description text" rows="4"></textarea>

      <button type="submit" class="btn btn-primary pull-right">Post</button>
    </form>
  </div>
</div>
{{#each posts}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href=/posts/{{id}}>
          <h3 class="post-title">{{ title }} 
          <h5 class="post-subtitle">Reward:{{money}}
          </a>

          
          <!--<span>body:{{post}}</span>-->          
        
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>
