<header class="intro-header" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Everyday...</h1>
          <h1>Never give-up to climb higher!</h1>
          
          <span class="subheading"><h2>--- ACCEL</h2></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <a href="posts">
        <h2 id="dark">Welcome to our New Website !! </h2>
        <h3 id="dark">Explore!! ^^</h3>
        
        </a>
      </div>
        
        
    </div>
  </div>
</div>