
<header class="intro-header" style="background-image: url('img/urname.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading" id="dark">
          <h1>We</h1>
          <h1>Chore.Me</h1>
          
          <hr class="small">
          <span class="subheading">CTP</span>
        </div>
      </div>
    </div>
  </div>
</header>
