<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/clean-blog.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <title> Chore.Me </title>
</head>
<body id="dark" class="bgcolor" style="background-image: url('/img/SKILLS.jpg')" >
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-left" href="/">Chore.Me</a>
      </div>
      <div class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/posts">Tasks Lobby</a></li>
          <li><a href="/users" >Active Users</a></li>
          {{#if cur_user}}
          <li id="logout"><a href="#" >Logout</a></li>
          {{ else }}
          <li><a href="/login" >Login</a></li>
          <li><a href="/sign-up">Sign-up</a></li>
          {{/if}}
          
          <li><a href="/aboutus">About us</a></li>
        </ul>
      </div>
    </div>
  </div>


  {{{ body }}}
<footer>
    <div class="container">
      <div class="row">
        <h3 class = "col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="dark">We -- Chore.Me</h5>


        
      </div>
      
    </div>
</footer>
 
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jqBootstrapValidation.js"></script>
  <script src="/js/clean-blog.min.js"></script>

  {{#if cur_user}}
  <script>
    ;(function() {
      $('#logout').click(function() {
        $.post("/logout", function() {
          window.location.href = '/';
        });
      });
    })();
  </script>
  {{/if}}
</body>

</html>
